@media screen and (max-width: 431px) {
    .header{
        width: 112%;
    }
    .else p{
        font-size: 17px;
    }
}
@media screen and (max-width: 1200px) {

  .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: white; /* You can customize the background color /
        color: #009688;
        position: fixed;
        top: 0;
        z-index: 1000; / Set a high z-index to ensure it appears above other elements /
    }
  / Hide the regular menu /
  .menu {
    display: none;
  }

  / Display the hamburger icon and label /
  .hamburger-icon label {
    display: block;
  }

  / Show the menu when the checkbox is checked /
  .hamburger-icon input:checked ~ .menu {
    display: block;
  }

  / Adjust the position and styling of the menu for mobile screens /
  .menu {
    position: absolute;
    top: 50px; / Adjust this value based on your design /
    left: 0;
    width: 100%;
    background: white;
  }

  .menu li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #efefef;

}

  .menu a {
    display: block;
    line-height: 50px;
    font-size: 18px;
    color: #5d5d5d;
    background: none; / Remove background color */
    margin-right: 30px;
}
  .col-10{
    width: 100%;
  }
  .map{
        margin-left: 0px;
    }
    .text{
        margin-left: 0px;
    }
    .team{
        padding-left: initial;
    }
}
@media screen and (min-width: 1200px) {
  .hamburger-icon label {
    display: none;
  }

  .menu {
    overflow: hidden;
    display: block;
    position: relative;
    float: right;
    clear: none;
    background: white;
    max-height: 0;
  }

  .menu li {
    display: inline-block;
    border: none;
  }

  .menu a {
    padding: 0 15px;
  }
   /* 調整較大屏幕的圖表容器樣式 /
   .else {
        padding: 20px; / 根據需要調整填充 /
    }

    .else .map canvas {
        width: 100%; / 確保圖表占據整個寬度 */
    }